doctype html
html(lang="en")
    head
        title=`${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav
            div
                h1 ADD NEW PROJECT

            input(
                type='text'
                name='search'
                placeholder='type project name...'
            ) 
            ul
                li
                    a(href='/') Home
                li
                    a(href='/add') Add

        .form-wrapper
            p.card Name: #{name}
            p.card Type: #{type}
            p.card Stack: #{stack}
            p.card Description: #{description}
            form(method="POST")
                input(type="submit" value="Submit")

        section
            a.card(href='/') Return to the homepage