doctype html
html 
    head 
        title=`${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav
            div
                h1 HubSpot I: Foundations Final Project

            input(
                type='text'
                name='search'
                placeholder='type project name...'
            ) 
            ul
                li
                    a(href='/') Home
                li
                    a(href='/add') Add New
        table
            tr.card
                th DATE
                th NAME
                th TYPE
                th STACK
                th DESCRIPTION
                th DELETE
            each entry in data
                - let id = `${entry.id}`;
                - let description = `${entry.properties.description}`;
                - let createdDate = `${entry.createdAt.split("T")[0]}`;
                    tr
                        th
                            a(href=`/update-cobj?id=${id}`)
                                p #{createdDate}
                        th.first__col
                            a(href=`/update-cobj?id=${id}`)
                                p #{entry.properties.name}
                            button.information(
                                popovertarget=`${id}`
                                popovertargetaction 
                                id=`${id}`
                                type='button'
                                ) i
                            div(
                                id=`${id}`
                                popover="manual"
                                anchor=`${id}`
                            )
                                p #{description}
                                p Created at #{createdDate}
                        th
                            a(href=`/update-cobj?id=${id}`)
                                p #{entry.properties.type}
                        th
                            a(href=`/update-cobj?id=${id}`)
                                p #{entry.properties.stack}
                        th
                            a(href=`/update-cobj?id=${id}`)
                                p #{entry.properties.description}
                        th
                            a(href=`/delete-obj?objectId=${id}`)
                                button.delete_btn -
