doctype html
html(lang="en")
    head
        title=`${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav
            div
                h1 UPDATE PROJECT: #{name}

            input(
                type='text'
                name='search'
                placeholder='type project name...'
            ) 
            ul
                li
                    a(href='/') Home
                li
                    a(href='/update') Update

        .form-wrapper
            p.card Name: #{name}
            p.card Type: #{type}
            p.card Stack: #{stack}
            p.card Description: #{description}
            form(method="POST")
                label(for="newName") New Project Name
                input(type="text" name="newName")
                label(for="type") New Type
                input(type="text" name="type")
                label(for="stack") New Stack
                input(type="text" name="stack")
                label(for="description") New Description
                input(type="text" name="description")

                input(type="submit" value="Submit")