doctype html
html(lang="en")
    head
        title=`${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav
            div
                h1 HubSpot I: Foundations Final Project

            input(
                type='text'
                name='search'
                placeholder='search project...'
            ) 
            ul
                li
                    a(href='/') Home
                li
                    a(href='/update-cobj') Update

        .form-wrapper
            p Project Name: #{name}
            p Type: #{type}
            p Stack: #{stack}
            p Description: #{description}
            form(method="POST")
                label(for="name") New Project Name
                input(type="text" name="name")
                label(for="type") New Type
                input(type="text" name="type")
                label(for="stack") New Stack
                input(type="text" name="stack")
                label(for="description") New Description
                input(type="text" name="description")
                input(type="submit" value="Submit")